.editEventTitleDiv {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.editEventFormCurrentTitle {
	margin-right: 1%;
}

.editEventFormCurrentDateTime {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.editFormAddGuestsButton {
	padding: 8px;
}

.editFormRemoveGuestsButton {
	padding: 8px;
}

.editFormSaveChangesButton {
	margin-top: 5%;
	padding: 8px;
}

.editFormDeleteEventButton {
	margin-top: 2%;
	background-color: #ad0011;
	color: #FFFFFF;
	padding: 8px;
}