.whole-form {
  width:40%;
  margin: 0 auto 0 auto;
}
label {
  margin-top: 10px
}
.submit-event {
  margin: 0 auto 0 auto;
  background-color: #0066cc !important;
}
.submit-event:hover {
  background-color:#0080FF !important;
}
