.resultsComponent {
	text-align: center;
}

.resultsTitle {
	font-weight: bold;
}

.congratsText {
	animation-name: swelling;
	animation-iteration-count: 2;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes swelling {
	0% {
		transform: scale(1.0);
		color: red;
	}
	50% {
		transform: scale(2.0);
		color: red;
	}
	100% {
		transform: scale(1.0);
		color: red;
	}
}

@-webkit-keyframes swelling {
	0% {
		transform: scale(1.0);
		color: red;
	}
	50% {
		transform: scale(2.0);
		color: red;
	}
	100% {
		transform: scale(1.0);
		color: red;
	}
}

.resultsHeader {
	font-size: 18px;
}

.resultsRestaurantTitle {
	color: red;
	font-size: 28px;
}

.resultsDateAndTime {
	font-size: 24px;
}

.viewInviteeVotesText {
	font-size: 18px;
}

.viewInviteesVotesButton {
	width: 100px;
	background-color: red;
	color: white;
	font-size: 22px;
	border: 1px solid black;
}

.startNewMealTextResultsComponent {
  font-size: 20px;
}

.startNewMealButtonResultsComponent {
	width: 140px;
	background-color: red;
	color: white;
	font-size: 22px;
  border: 1px solid black;
}
