h1 {
  text-align: center;
}

.parent {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.picture {
  margin: auto;
  background-image: url('../images/pasta.jpg');
  height: 400px;
  width: 600px;
  border-radius: 8px;
}

.name{
  float: left;
  font-size: large;
}

.planMealButton {
  margin: auto;
  text-align: center;
}

.title {
  margin: 50px;
}

