.noButton {
  float: left;
}

.yesButton {
  float: right;
}

.swipeForm {
  text-align: center;
}

.photos {
  max-height: 550px;
  max-width: 650px;
  min-width: 550px;
  min-height: 550px;
  border-radius: 8px;
}

.photoholder {
  margin: auto;
  height: 600px;
  width: 750px;
}

.eventtitle {
  border: 1px solid black;
  padding: 7px;
  border-radius: 4px;
}

.loadingtext {
  text-align: center;
  padding: 15px;
  margin: auto;
}

.trex {
  min-height: 450px;
  min-width: 450px;
  display: block;
  padding: 15px;
  text-align: center;
  margin: auto;
}

.endtext {
  text-align: center;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  margin: auto;
}

.endphoto {
  max-height: 550px;
  max-width: 500px;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.photo {
  border-style: solid
}






