.noButton {
  float: left;
}

.yesButton {
  float: right;
}

.swipeForm {
  text-align: center;
}

.photos {
  max-height: 550px;
  max-width: 650px;
  min-width: 550px;
  min-height: 550px;
}

.photoholder {
  margin: auto;
  height: 600px;
  width: 750px;
}