.noButton {
  float: left;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 16px;
  
}

/* .noButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.noButton:active {
  /* box-shadow: 0 5px #666; */
  transform: translateY(5px);
  
}

.yesButton {
  float: right;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 16px;
}

.yesButton:focus, .noButton:focus{
  outline: none
}
/* .yesButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.19);
} */
.yesButton:active {
  /* box-shadow: 0 5px #666; */
  transform: translateY(5px);
  
}

.yesAndNoButtons {
  margin: auto;
  display: block;
  width: 50%;
}
.superLikeButton {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  
}

.superLikeButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.superLikeButton:active {
  transform: translateY(5px);
  
}

.vetoButton {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  
}

.vetoButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.vetoButton:active {
  transform: translateY(5px);
  
}

 .swipeForm {
  text-align: center;
}

.eventTitle {
  /* border: 1px solid black; */
  padding: 15px;
}

.loadingtext {
  text-align: center;
  padding: 15px;
  margin: auto;
}

.trex {
  min-height: 450px;
  min-width: 450px;
  display: block;
  padding: 15px;
  text-align: center;
  margin: auto;
}

.endtext {
  text-align: center;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  margin: auto;
}

.endphoto {
  max-height: 550px;
  max-width: 500px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.photo {
  border-style: solid
}

.swipePhotos {
  width: 50%;
  height: 45%;
  border-radius: 8px;
  margin: auto;
}

.MapWithAMarker {
  width: 75%;
  margin: auto;
}

.swipeDiv {
  border: solid red;
}
.swipePhotos {
  display: relative;
  top: 10px;
  border: solid red;
}

